<IfModule mod_rewrite.c>
    RewriteEngine On

	RewriteBase /

	RewriteCond $1 !^(index\.php|include|MyAdmin|robots\.txt)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	#RewriteCond %{REQUEST_URI} !^/include/(.*)$

	RewriteRule ^(.*)$ /index.php/$1 [QSA,PT,L]
#    RewriteRule ^(.*)$ index.php [E=PATH_INFO:$1,QSA,PT,L]
</IfModule>
